@charset "UTF-8";

.boxRight{
	background: rgba(200,200,255,0.5); 
	width: 250px;
	height: 100px;
	padding: 1px;
	float: right;
}

div:after   {
     content: "."; 
     display: block; 
     visibility: hidden; 
     height: 0.1px; 
     font-size: 0.1em; 
     line-height: 0; 
     clear: both; 
}

div { 
     display: inline-block; 
} 
